<ion-header>
  <ion-toolbar>
    <ion-title>Horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="onClick()" expand="block" >
      Mostrar Alumnos
  </ion-button>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Materia</ion-col>
        <ion-col>Horas</ion-col>
        <ion-col>Profesor</ion-col>
        <ion-col>Asitencia </ion-col>
      </ion-row>
      <ion-row  class="success" >
        <ion-col>Matematica</ion-col>
        <ion-col>9:00-10:00</ion-col>
        <ion-col>Carlos Nuñez</ion-col>
        <ion-select interface="popover" name="rol" placeholder="P" [(ngModel)]="regiterUser.rol" required>
          <ion-select-option value="P">P</ion-select-option>
          <ion-select-option value="A" selected>A</ion-select-option>
          <ion-select-option value="E">E</ion-select-option>
        </ion-select>
      </ion-row>
      <ion-row class="danger" >
        <ion-col>Español </ion-col>
        <ion-col>12:00-13:00</ion-col>
        <ion-col>Adonis Alexander Severino</ion-col>
        <ion-select interface="popover" name="rol" placeholder="A" [(ngModel)]="regiterUser.rol" required>
          <ion-select-option value="P" selected>P</ion-select-option>
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="E">E</ion-select-option>
        </ion-select>
      </ion-row>
      <ion-row  class="warning">
        <ion-col>Historia</ion-col>
        <ion-col>13:00-14:00</ion-col>
        <ion-col>Wichi</ion-col>
        <ion-select interface="popover" name="rol" placeholder="E" [(ngModel)]="regiterUser.rol" required>
          <ion-select-option value="P">P</ion-select-option>
          <ion-select-option value="A">A</ion-select-option>
          <ion-select-option value="E"selected>E</ion-select-option>
        </ion-select>
      </ion-row>
    </ion-grid>
  </ion-content>